:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primary-grey-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: "roboto", "sans serif";
}

ul,
p,
h1,
h2,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

a:active,
a:focus {
  outline: none;
}

button {
  cursor: pointer;
  outline: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-bottom: 64px;
  padding-top: 94px;
}
@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 30px;
    padding-top: 60px;
  }
}

.header {
  border-bottom: solid 1px rgb(236, 236, 236);
}
.header__div {
  display: flex;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 1199px) {
  .header__div {
    width: 100%;
  }
}

.logo__header {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  padding: 16px 0;
}
.logo__header--blue {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo__header {
    padding: 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo__header {
    font-size: 26px;
    line-height: 1.2;
  }
}

.mob-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-left: 40px;
  padding-bottom: 48px;
  padding-top: 10px;
  padding-right: 15px;
  background-color: var(--primary-white-color);
  z-index: 1;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-menu__link:hover, .mob-menu__link:focus {
  color: var(--accent-color);
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__item:first-child {
  margin-top: 48px;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-contacts {
  margin-top: auto;
  margin-bottom: 64px;
}
.mob-contacts__item:first-child {
  margin-bottom: 32px;
}
.mob-contacts__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 400px) {
  .mob-contacts__tel {
    font-size: 28px;
  }
}
.mob-contacts__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mob-socials__list {
  display: flex;
}
.mob-socials__item {
  position: relative;
}
.mob-socials__item:not(:last-child) {
  margin-right: 20px;
}
.mob-socials__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 0px;
  bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
.mob-socials__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
@media screen and (max-width: 400px) {
  .mob-socials__link {
    font-size: 12px;
  }
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-btn:hover, .menu-close-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-close-btn {
    display: none;
  }
}

.menu-open-btn {
  position: absolute;
  right: 15px;
  width: 40px;
  height: 40px;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-btn:hover, .menu-open-btn:focus {
  fill: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .menu-open-btn {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .no-scroll {
    overflow: hidden;
  }
}
.navigation {
  margin-left: 88px;
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 93px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.site-nav {
  display: flex;
}
.site-nav__item {
  position: relative;
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}
.site-nav__link:hover::after, .site-nav__link:focus::after {
  opacity: 1;
}
.site-nav__link.current {
  color: var(--accent-color);
}
.site-nav__link.current::after {
  opacity: 1;
}
.site-nav__link::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  opacity: 0;
}

.contacts-nav {
  display: block;
  margin-left: auto;
}
@media screen and (max-width: 767px) {
  .contacts-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-nav__item:first-child {
    margin-right: 30px;
  }
}
.contacts-nav__icon {
  fill: currentColor;
  margin-right: 8px;
}
@media screen and (min-width: 1200px) {
  .contacts-nav__icon {
    margin-right: 10px;
  }
}
.contacts-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-nav__link:hover, .contacts-nav__link:focus {
  color: var(--accent-color);
}
.contacts-nav__link:hover .contacts-nav__icon, .contacts-nav__link:focus .contacts-nav__icon {
  fill: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts-nav__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-mob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-mob-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-tab.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-tab-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-2x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  margin: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .features__title {
    text-align: center;
  }
}
.features__item {
  width: 100%;
  min-height: 101px;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    width: 25%;
  }
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.features__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bg-color);
  margin-bottom: 30px;
  border-radius: 4px;
}
.features__icon {
  justify-content: center;
  align-items: center;
}

.works {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .works {
    display: none;
  }
}
.works__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin: 0;
  margin-bottom: 50px;
  text-align: center;
}
.works__list {
  display: flex;
}
.works__item {
  position: relative;
}
.works__item + .works__item {
  margin-left: 30px;
}
.works__cont {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  min-width: 370px;
  min-height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.works__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.team {
  background-color: var(--secondary-bg-color);
}
.team__list {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .team__list {
    margin: 0 -15px;
  }
}
.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.team__overlay {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .team__overlay {
    width: 50%;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__overlay {
    width: 25%;
  }
}
.team__container {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__container img {
  width: 100%;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}
.team__description {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 16px;
}
.team__socials {
  display: flex;
  justify-content: center;
}
.team__item + .team__item {
  margin-left: 10px;
}
.team__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover, .team__link:focus {
  background-color: var(--accent-color);
}
.team__link:hover .team__icon, .team__link:focus .team__icon {
  fill: #ffffff;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}
.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.clients__item {
  width: 50%;
  height: 92px;
  padding: 0 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .clients__item {
    width: 33.3333%;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: 16.6666%;
  }
}
.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.footer {
  text-align: center;
  background-color: var(--primary-grey-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__content {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 768px) {
  .footer__contacts {
    margin-left: 76px;
    margin-right: 165px;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contacts {
    flex-grow: 1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
.footer__adress {
  font-style: normal;
  margin-top: 20px;
}
.footer__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__link:hover, .footer__link:focus {
  color: var(--accent-color);
}
.footer__item:nth-child(-n+2) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__item:nth-child(-n+2) {
    margin-bottom: 9px;
  }
}

.contact-color {
  color: var(--footer-text-color);
}

.logo__footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.logo__footer--blue {
  color: var(--accent-color);
}
@media screen and (min-width: 768px) {
  .logo__footer {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    font-size: 26px;
    line-height: 1.2;
  }
}

.socials {
  margin: 60px 0;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.socials__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.socials__list {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.socials__item + .socials__item {
  margin-left: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background: var(--accent-color);
}
.socials__icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .subscription {
    margin-left: 93px;
  }
}
.subscription__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscription__input {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    width: 358px;
  }
}
.subscription__btn {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 29px;
  margin-top: 20px;
  border: 0;
  width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .subscription__btn {
    margin-left: 12px;
    margin-top: 0;
  }
}
.subscription__icon {
  margin-left: 10px;
}

.filtres__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .filtres__list {
    margin-bottom: 30px;
    flex-wrap: nowrap;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .filtres__list {
    margin-bottom: 50px;
  }
}
.filtres__item:not(:last-child) {
  margin-right: 8px;
}
.filtres__item:nth-child(-n+3) {
  margin-bottom: 15px;
}
@media screen and (min-width: 768px) {
  .filtres__item:nth-child(-n+4) {
    margin-right: 8px;
    margin-bottom: 0;
  }
}
.filtres__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-radius: 4px;
  border: 0;
  height: 38px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-family: inherit;
  cursor: pointer;
  padding: 6px 22px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtres__button:hover, .filtres__button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filtres__catalog {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.filtres__content {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 30px;
}
.filtres__content img {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filtres__content {
    width: 50%;
  }
  .filtres__content:first-child .filtres__meta {
    height: 146px;
  }
}
@media screen and (min-width: 1200px) {
  .filtres__content {
    width: 33.3333%;
  }
}
.filtres__overlay {
  position: relative;
  overflow: hidden;
}
.filtres__text {
  position: absolute;
  top: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtres__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtres__link:hover, .filtres__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.filtres__link:hover .filtres__text, .filtres__link:focus .filtres__text {
  transform: translateY(0);
}
.filtres__meta {
  padding: 20px 24px;
  border: 1px solid rgb(238, 238, 238);
  border-top: 0;
}
.filtres__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text-color);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.filtres__description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.window {
  padding: 40px;
  position: relative;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  transition: transform 350ms;
  transform: scale(1);
}
@media screen and (min-width: 1200px) {
  .window {
    width: 528px;
    height: 582px;
  }
}
.window__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
}
@media screen and (min-width: 1200px) {
  .window__title {
    line-height: 1.15;
  }
}
.window__list {
  margin-bottom: 20px;
}
.window__item + .window__item {
  margin-top: 10px;
}
.window__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}
.window__filling {
  position: relative;
  margin-top: 4px;
}
.window__input {
  padding: 0;
  padding-left: 42px;
  padding-right: 10px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window__input:focus, .window__input:hover {
  border-color: var(--accent-color);
}
.window__input:focus + .window__icon, .window__input:focus + .window__icon, .window__input:hover + .window__icon, .window__input:hover + .window__icon {
  fill: var(--accent-color);
}
.window__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window__comment {
  display: block;
  padding: 12px 16px;
  margin-top: 4px;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window__comment:focus, .window__comment:hover {
  border-color: var(--accent-color);
}
.window__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.window__text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .window__text {
    font-size: 14px;
    line-height: 1.71;
  }
}
.window__text:before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
}
.window__link {
  color: var(--accent-color);
}
.window__submit {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  margin: 30px auto 0px;
  border: 0;
  min-width: 200px;
  height: 50px;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.window__symbol {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.window__button {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.window__button:hover .window__symbol, .window__button:focus .window__symbol {
  fill: var(--accent-color);
}
.window__check:checked + .window__text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/Check.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}/*# sourceMappingURL=main.css.map */