.window {
  padding: 40px;
  position: relative;
  width: 450px;
  height: 609px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  transition: transform 350ms;
  transform: scale(1);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 582px;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    margin-bottom: 12px;

    @media screen and (min-width: 1200px) {
      line-height: 1.15;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item + &__item {
    margin-top: 10px;
  }

  &__label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
  }

  &__filling {
    position: relative;
    margin-top: 4px;
  }

  &__input {
    padding: 0;
    padding-left: 42px;
    padding-right: 10px;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border-color: var(--accent-color);

      & + .window__icon,
      & + .window__icon {
        fill: var(--accent-color);
      }
    }
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__comment {
    display: block;
    padding: 12px 16px;
    margin-top: 4px;
    height: 120px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus,
    &:hover {
      border-color: var(--accent-color);
    }

    &::placeholder {
      color: rgba(117, 117, 117, 0.5);
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
    }

    &:before {
      content: '';
      width: 16px;
      height: 15px;
      border: 2px solid var(--title-text-color);
      border-radius: 2px;
      margin-right: 8px;
    }
  }

  &__link {
    color: var(--accent-color);
  }

  &__submit {
    display: flex;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    padding: 10px 32px;
    margin: 30px auto 0px;
    border: 0;
    min-width: 200px;
    height: 50px;
    font-family: inherit;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  &__symbol {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__button {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .window__symbol,
    &:focus .window__symbol {
      fill: var(--accent-color);
    }
  }

  &__check:checked + &__text::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/Check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
