body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: 'roboto', 'sans serif';
}

ul,
p,
h1,
h2,
h3 {
  list-style: none;
  margin: 0;
  padding: 0;
}

// a:active,
// a:focus {
//   outline: none;
// }

button {
  cursor: pointer;
  // outline: none;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}
